<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ofir Ben Yamin. It uses data from mapbox.com and darksky.net</p>
        <img class="profilePic" src="./img/myPhoto.jpg">
    </div>

    {{>footer}}
</body>

</html>