<!DOCTYPE html>
<html lang="en">

<head>
    <title>Ofir Ben Yamin</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is my website!</p>
    </div>

    {{>footer}}
</body>

</html>